body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #1A4E8D;
    padding: 0px;
}
.plr{
    padding-left: 50px;
    padding-right: 50px;
}
a{
    text-decoration: none;
    color: #1A4E8D;
}
.d-flex{
    display: flex;
}


/* nav */
nav{
    height: 80px;
    background-color: #8bdeec;
}
.jc-sb{
    justify-content: space-between;
}
.panto{
    padding: 28px 0px;
}
.p-tb{
    padding: 30px 0;
    /* padding: 10px 30px; */
}
.f-23{
    font-size: 23px;
}
.mlr-30{
    margin: 0px 6px;
}
.logo-h{
    height: 5px; 
}
a.btn-bg:hover{
    background-color: #1A4E8D;
    border-radius: 50px;
    padding: 10px 30px;
    /* width: 50px; */
    color: #fff;
}
.lgn-h:hover{
    transition: 0.2s;
    color: #41c3ff;
}
.btn-bg{
    background-color: #8bdeec;
    border-radius: 50px;
    padding: 10px 30px;
    transition: 0.8s;
    /* width: 50px; */
}
.f-80{
    font-size: 90px;
}
.dog-img{
    width: 700px;
    object-fit: cover;
}
.bg-bl{
    background-color: #8bdeec;

}

.dog{
    height: 200px;
    border-radius: 15px;
    margin: 20px 10px;
    transition: 1s;
}
.img-cnr{
    text-align: center;
}
.dog:hover{
    height: 220px;
}
.dog-2{
    height: 200px;
    border-radius: 15px;
    margin: 20px 10px;
    transition: 1s;
}
.dog-2:hover{
    color: #1A4E8D;

}
.jc-cntr{
    justify-content: center;
}
.dogjc{
    height: 200px;
    /* width: 250px; */
}